@font-face{
    font-family: 'Lato-Black';
    src: url('./assets/fonts/Lato-Black/Lato-Black.eot');
    src: url('./assets/fonts/Lato-Black/Lato-Black.eot?iefix') format('eot'),
    url('./assets/fonts/Lato-Black/Lato-Black.woff') format('woff'),
    url('./assets/fonts/Lato-Black/Lato-Black.ttf') format('truetype'),
    url('./assets/fonts/Lato-Black/Lato-Black.svg#Lato-Black') format('svg');
}

@font-face{
    font-family: 'Lato-Black';
    src: url('./assets/fonts/Lato-Bold/Lato-Bold.eot');
    src: url('./assets/fonts/Lato-Bold/Lato-Bold.eot?iefix') format('eot'),
    url('./assets/fonts/Lato-Bold/Lato-Bold.woff') format('woff'),
    url('./assets/fonts/Lato-Bold/Lato-Bold.ttf') format('truetype'),
    url('./assets/fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
}

@font-face{
    font-family: 'Lato-Light';
    src: url('./assets/fonts/Lato-Light/Lato-Light.eot');
    src: url('./assets/fonts/Lato-Light/Lato-Light.eot?iefix') format('eot'),
    url('./assets/fonts/Lato-Light/Lato-Light.woff') format('woff'),
    url('./assets/fonts/Lato-Light/Lato-Light.ttf') format('truetype'),
    url('./assets/fonts/Lato-Light/Lato-Light.svg#Lato-Bold') format('svg');
}

@font-face{
    font-family: 'Lato-Regular';
    src: url('./assets/fonts/Lato-Regular/Lato-Regular.eot');
    src: url('./assets/fonts/Lato-Regular/Lato-Regular.eot?iefix') format('eot'),
    url('./assets/fonts/Lato-Regular/Lato-Regular.woff') format('woff'),
    url('./assets/fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'),
    url('./assets/fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
}

body{
    margin: 0;
    padding: 0;
}
.container{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}
.header{
    display: flex;
    height: 95px;
    align-items: center;
    background: #2d303a;
    border-bottom: 5px solid #323746;

}
.header-wrap{
    display: flex;
    justify-content: space-around;
}
.logo-text{
    display: flex;
    align-self: center;
    text-decoration: none;
    font-family: Lato-Bold;
    font-size: 25px;
    color: #ffffff;
}
.logo{
    display: flex;
}
.logo-item{
    color: #f06c64;
}
.menu-item{
    display: inline;
    list-style: none;
}
.menu-link{
    position: relative;
    padding-left: 35px;
    font-size: 12px;
    font-family: Lato-Bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
.menu-item::before{
    content: "";
    display: inline-block;
    position: absolute;
    height: 1px;
    width: 1px;
    margin-left: 15px;
    margin-top: 10px;
    background: #494e62;
    border-radius: 50%;
}
.menu-item:first-child::before{
    content: none;
}
.menu-link:hover{
    color: #c75e5a;
}
.slider-wrap{
    background: #f06c64;
    border-bottom: 5px solid #ea676b;
    margin-bottom: 65px;
}
.iPhone-Vertical{
    position: relative;
    top: 53px;
    left: 80px;
}
.iPhone-Horizontal {
    position: absolute;
    right: 80px;
    top: 175px;
}
.slider{
    height: 600px;
    position: relative;
}
 .button{
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
  .button-right{
      position: absolute;
      top: 50%;
      right: 0;
  }
  .button-left{
    position: absolute;
    top: 50%;
    left: 0;
}
.logo-name{
    text-transform: uppercase;
}
.our-services-heading{
    font-size: 30px;
    font-family: Lato-Black;
    text-transform: capitalize;
    color: #666d89;
}
.our-services-paragraph{
    font-style: 18px;
    font-family: Lato-Light;
    color: #666d89;
    margin-bottom: 50px;
}
.information-heading{
    font-size: 18px;
    font-family: Lato-Black;
    color: #666d89;
}
.information-text{
    font-size: 12px;
    font-family: Lato-Regular;
    color: #666d89;
}