@font-face{
    font-family:'Lato-Black';
    src: url('./assets/fonts/Lato-Black/Lato-Black.eot');
    src: url('./assets/fonts/Lato-Black/Lato-Black.eot?iefix') format('eot'),
         url('./assets/fonts/Lato-Black/Lato-Black.woff') format('woff'),
         url('./assets/fonts/Lato-Black/Lato-Black.ttf') format('truetype'),
         url('./assets/fonts/Lato-Black/Lato-Black.svg#Lato-Black') format('svg');
}
@font-face{
    font-family:'Lato-Bold';
    src: url('./assets/fonts/Lato-Bold/Lato-Bold.eot');
    src: url('./assets/fonts/Lato-Bold/Lato-Bold.eot?iefix') format('eot'),
         url('./assets/fonts/Lato-Bold/Lato-Bold.woff') format('woff'),
         url('./assets/fonts/Lato-Bold/Lato-Bold.ttf') format('truetype'),
         url('./assets/fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
}
@font-face{
    font-family:'Lato-Light';
    src: url('./assets/fonts/Lato-Light/Lato-Light.eot');
    src: url('./assets/fonts/Lato-Light/Lato-Light.eot?iefix') format('eot'),
         url('./assets/fonts/Lato-Light/Lato-Light.woff') format('woff'),
         url('./assets/fonts/Lato-Light/Lato-Light.ttf') format('truetype'),
         url('./assets/fonts/Lato-Light/Lato-Light.svg#Lato-Light') format('svg');
}
@font-face{
    font-family:'Lato-Regular';
    src: url('./assets/fonts/Lato-Regular/Lato-Regular.eot');
    src: url('./assets/fonts/Lato-Regular/Lato-Regular.eot?iefix') format('eot'),
         url('./assets/fonts/Lato-Regular/Lato-Regular.woff') format('woff'),
         url('./assets/fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'),
         url('./assets/fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    background: #2d303a;
    border-bottom: 5px solid #323746;
    box-sizing: border-box;
    min-height: 95px;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
}
.logo-text{
    display: flex;
    align-self: center;
    text-decoration: none;
    font-family: Lato-Bold;
    font-size: 25px;
    color: #ffffff;
    letter-spacing: -0.05rem;
}
.logo{
    display: flex;
}
.logo-item{
    color: #f06c64;
}
.menu-wrap{
    padding: 23px 0 16px;
    box-sizing: border-box;
}
.menu-item{
    display: inline;
    list-style: none;
}
.menu-link{
    position: relative;
    padding-left: 27px;
    font-size: 12px;
    font-family: Lato-Bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -0.018rem;;
}
.menu-item::before{
    content: "";
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 2px;
    margin-left: 11px;
    margin-top: 10px;
    background: #494e62;
    border-radius: 50%;
}
.menu-item:first-child::before{
    content: none;
}
.menu-link:hover{
    color: #c75e5a;
}
.slider-wrap{
    background: #f06c64;
    border-bottom: 5px solid #ea676b;
}
.iPhone-Vertical{
    position: relative;
    top: 53px;
    left: 72px;
}
.iPhone-Horizontal {
    position: absolute;
    right: 71px;
    top: 174px;
}
.slider{
    height: 600px;
    position: relative;
    height: 595px;
}
 .button{
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.button-right{
      position: absolute;
      top: 50%;
      right: 0;
      margin-left: 2px;
      margin-top: -18px;
}
.button-left{
    position: absolute;
    top: 50%;
    left: 0;
    margin-right: 2px;
    margin-top: -18px;
}
.logo-name{
    text-transform: uppercase;
}
.our-services{
    padding-top: 35px;
    padding-bottom: 32px;
    border-bottom: 5px solid white;
    background: #f2f2f2;
}
.our-services-heading{
    font-size: 30px;
    font-family: Lato-Black;
    text-transform: capitalize;
    color: #666d89;
    margin-bottom: 17px;
  
}
.our-services-paragraph{
    font-size: 18px;
    font-family: Lato-Light;
    color: #666d89;
    margin-bottom: 43px;
    line-height: 30px;
    letter-spacing: -0.003rem;
}
.information-heading{
    font-size: 18px;
    margin: 0;
    font-family: Lato-Black;
    color: #666d89;
}
.information-text{
    font-size: 12px;
    font-family: Lato-Regular;
    line-height: 23px;
    color: #666d89;
    margin-top: 7px;
    text-align: justify;
}
.information{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0 -10px;
}
.information-item{
    display: flex;
    align-items: end;
    list-style: none;
    flex: 1 0 28%;
    margin-bottom: 15px;
    padding: 0px 10px;
}
.information-item-text{
    margin-left: 20px;
}
.active{
    color: #c75e5a
}
.information-image{
    margin-top: 4px;
}